.head{

    background-color: #151e25;
    height: 70px;
}

/* .navi{
    position: relative;
} */

/* ------------------Font Family----------- */

@font-face {

    font-family: monts-semiBold;
    src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {

    font-family: monts-Bold;
    src: url(../font/Montserrat-Bold.ttf);
}

@font-face {

    font-family: monts-Medium;
    src: url(../font/Montserrat-Medium.ttf);
}
/* ----------------------------------------- */

.ul{

    margin: 0;
    padding: 0;
    list-style: none;
    /* text-align: right;
    margin-right: 66px; */
}

li{
    display: inline-block;
    padding: 4px 28px;
}

ul li:hover{
    background-color: #1b3a5c;
}


h1{
    margin: 16px 16px;
    color: white;
    font-family: 'monts-Bold',sans-serif;
    margin: -57px 84px;
}

.navi-right{
    float: right;
}

.navi-left{
    float: left;
    /* display: inline-block; */
}


.navi-right a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'monts-semiBold',sans-serif;
    font-size: 23px;
}

.logo{
    background-image: src="asset/Logo.png";
    height: 58px;
    margin: 6px 16px;
}

/* ------------------drop down menu "Service"----------- */

.dropdown{
    position: relative;
    z-index: 1;
}

.dropdown-list a{
    font-size: 15px;
}

.dropdown-list .bor:hover{
    background-color: #151e25;
}

.dropdown-list{
    background-color: #1b3a5c;
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px -13px;
    margin-right: 10px;
    
}

.dropdown:hover .dropdown-list{
    display: block;
}

/* --------------------------------------------------- */

/* ------------------drop down menu "Music"----------- */

.dropdown2{
    position: relative;
    z-index: 1;
}

.dropdown-list2 a{
    font-size: 15px;
}

.dropdown-list2 .bor2:hover{
    background-color: #151e25;
}

.dropdown-list2{
    background-color: #1b3a5c;
    padding: 0px;
    margin: 0px -13px;
    margin-right: 15px;
    position: absolute;
    display: none;
}

.dropdown-list2 li{
    font-size: 15px;
}

.dropdown2:hover .dropdown-list2{
    display: block;
}

/* --------------------------------------------------- */


/* ---------------------Body-------------------- */
.body{
    background-color: #0e1518;
}


#top{
    margin: -80px 0px;
    display: inline-block;
}

/* ---------------------TOP-------------------- */

#up{
    margin: 93px 0px;
}

#text{
    text-align: center;
    font-family: 'monts-Bold',sans-serif;
    position: static;
}

#cont{
    margin: 9px 7%;
    background-color: #151e25 ;
}


.pic-img{

    width: 200px;
    height: 200px;
    margin: 20px 0px;
}


#top-pic{
    width: 200px;
    margin: 118px 141px;
}

.pic-name{
    position: relative;
    float: right;
    margin: 119px 0px
}

.des{
    margin: 0px 142px;
    text-align: right;
    font-family: 'monts-Bold',sans-serif;
    font-size: 29px;
    color: white;
    margin-left: 0px;
}

.des2{
    margin: 0px 142px;
    text-align: right;
    font-family: 'monts-semiBold',sans-serif;
    color: white;
}

/* --------------------------------------------------- */



/* ---------------------Footer-------------------- */

footer{
    background-color: #151e25;
}

.footer{

    margin-bottom: 40px;
    height: 140px;
    margin-top: 117px;
    padding: 31px 0px;
}

#icon{
    position: relative;
    display: inline-block;
    float: right;
    margin: 34px;
    margin: 5px 32px;
}

.social{
    height: 100px;
    margin: 0px 18px;
}

h3{
    color: white;
    text-align: right;
    font-family: 'monts-Bold',sans-serif;    
    margin: -96px 63px;
    padding: 32px 0px;
}


@media only screen and (max-width: 800px){

    #top-pic{
        margin: 118px 20px;
    }

    .pic-name{
        margin: 119px -126px;
    }


}

